

body {
   font-family: "Raleway", sans-serif;
}

/****** STYLE HEADER */

header {
    color: white;
}

.header-container{
    background-color: #c80000;
    padding: 10px;
}

.header-title {
    padding-left: 20px;
}

.span-header{
    padding-left: 10px;
    font-size: 0.9rem;
}

.header-theme {
    background-color:#666 ;
    padding: 15px;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 300;
}

.header-theme-nom {
    font-weight: 200;
    font-size: 1em;
}

/********   MAIN    ********* */

/* block de toutes les figurines  */

.main {
    /* je dimensionne mon block des articles */
    width: 900px;
/* je mets une marge de 15px autour du block des figurines */
    margin :20px auto;
    /* je mets les articles sur une seule ligne grace à margin auto */
    display:flex;
    flex-wrap: wrap;
    /* le flex-wrap et wrap les remets sur une seule colonne */
    justify-content: space-between;
}

/* block d'une figurine  */
.article-figurine {
    display:flex;
    flex-direction: column;
    width:31%;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 8px;
}

/* block image d'une figurine */
.image-figurine {
    width:100%;
}

.article-version-game{
   color: #ccc;
   font-size: small;
   text-align: left;
   border-bottom: 1px solid #ccc;
}

.article-nom {
    color: black;
    font-size: 1.4em;
}

.footer{
    background-color: #666;
    color: #ccc;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.taille{
    font-size: 0.8em;
    font-weight: 500;
    padding: 5px;
}

.add-to-card {
    text-decoration: none;
    background: #c80000;
    color: aliceblue;
    display: flex;
    align-content: center;
    padding: 15px;
    padding-left: 15px;
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 15px;
}

.tarif {
    padding: 0px 0px 10px 40px;
    font-weight: 600;
    font-size:1.3em;
}

.tarif-barre {
    padding: 5px 0px 0px 15px;
    text-decoration: line-through;
    font-size: 1.2em;
    font-weight: 200;
}

.tarif-solde {
    padding: 0px 0px 10px 10px;
    font-weight: 600;
    font-size: 1.4em;
}