:root {
    --main-accent-color:#c80000;
    --main-gray-color: #666;
    --main-Lightgray-color: #ccc;
}


body {
    font-family: 'Raleway', sans-serif;
}

/* STYLES HEADER */

.header {
    color: #fff;
}


.header__title-container{
    background-color: var(--main-accent-color);
    padding: 15px;
    display: flex;
    align-items: flex-end;
}

.header__title {
   font-size: 2rem;
   font-weight: bold;
}

.header__subtitle{
    font-weight: bold;
    margin-left: 10px;
 }
 

 .header__theme-container {
    background-color:var(--main-gray-color);
    display: flex;
    justify-content:center;
    padding: 10px ;
    
}


.header__theme-title-franchise {
   font-style: italic;
   font-size: 1.1rem;
}

/******* MAIN ********/


.container {
   width: 800 px;
   margin: 40px auto;
}

.product-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   row-gap: 15px;
   column-gap:5px;
   padding-left: 80px;
   padding-right: 80px;
   gap: 20px;
   column-gap: 10px;
}


.product-list__item {
   display: flex;
   flex-direction: column;
   width: 30%;
   border: 1px solid var(--main-Lightgray-color);
   padding: 5px;
}

.product-list__item-img {
    width: 100%;
}

.product-list__item-saga {
    text-transform: uppercase;
    padding: 3px;
    margin: 3px;
    color: var(--main-Lightgray-color);
    font-size: 0.8rem;
    border-bottom: 1px solid var(--main-Lightgray-color);
    font-weight: 600;

}

.product-list__item-name {
    font-weight: bold;
    font-size: 1.3rem;
     margin: 4px;
}

.product-list__item-description {
    font-size: 0.8rem;
    margin: 4px;
}

.product-list__item-add-to-cart {
    background-color: var(--main-accent-color);
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.product-list__item-add-to-cart-label {
    font-size: 0.8rem;
    font-weight:300;
}

.product-list__item-price {
    display:flex;
    align-items: flex-end;
}

.product-list__item-price-label {
    font-size: 0.9rem;
    font-weight: bold;
}

.product-list__item-price-label--strike {
    font-weight:300;
    font-size: 0.8rem;
    text-decoration:line-through;
}


/* STYLE FOOTER*/

footer {
    background: var(--main-gray-color);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
} 
