

body {
   font-family: "Raleway", sans-serif;
}

/****** STYLE HEADER */

header {
    color: white;
}

.header-container{
    background-color: #c80000;
    padding: 10px;
}

.header-title {
    padding-left: 20px;
}

.span-header{
    padding-left: 10px;
    font-size: 0.9rem;
}

.header-theme {
    background-color:#666 ;
    padding: 15px;
    font-size: 0.6rem;
    text-align: center;
}

/********   MAIN    ********* */

/* block de toutes les figurines  */
.container-figurine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    column-gap: 0px;
    gap: 10px;
}

/* block d'une figurine  */
.article.figurine {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:20%;
    border: 5px solid #ccc;
    padding:5px;
}

/* block image d'une figurine */
.image-figurine {

}

.article-version-game{
   color: grey;
   font-size: small;
   text-align: left;
   text-decoration: underline;

}

.article-nom {
    color: black;
}