

body {
   font-family: "Raleway", sans-serif;
}


/****** STYLE HEADER */

header {
    color: white;
}

.header-container{
    background-color: #c80000;
    padding: 10px;
}

.header-title {
    padding-left: 20px;
}

.span-header{
    padding-left: 10px;
    font-size: 0.9rem;
}

.header-theme {
    background-color:#666 ;
    padding: 15px;
    font-size: 0.6rem;
    text-align: center;
}

.article.figurine {
    border: 10px;
    border-color: blue;
}

